.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  min-height: 100vh;
}

input[type="date"] {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

@font-face {
  font-family: "starwars";
  src: url('./fonts/Starjedi.ttf') format("truetype");
}


h1 {
  font-family: "starWars";
}